/*@import url("normalize");*/


*, *:after, *:before
{
	border: 0;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	clip: rect(auto,auto,auto,auto);
	position: static;
	margin: 0;
	left: auto;
	padding-top: 9;
	padding-right: 9;
	padding-bottom: 9;
	padding-left: 9;
}

body, html
{
	background: rgba(255,255,255,.9);
	color: white;
	font-family: sans-serif;
	;
	font-size: 32px;
	word-spacing: normal;
	white-space: normal;
	font-style: normal;
	line-height: normal;
	vertical-align: 32%;
}
ul,li,a
{
	text-decoration: none;
}
/*------------CUERPO DE PAGINA--------*/
.cabecera

{
	background: rgba(0,0,0,.9);
	font-size: 0;
	height: 12%;
	width: 100%;
	position: fixed;
}
#contenido
{
	background: rgba(200,200,200,.1);
	color: black;
	height: auto;
	margin: auto;
	padding: 9%;
	text-align: center;
}
header nav
{
	float:right;
	padding-top: 3%;
}
header nav a
{
	color: white;
	display: inline-block;
	font-size: 0.7rem;
	padding: 10px 10px;
	width: 150px;
	border-radius: 100px;
}
header nav a:hover
{
	background: green;
	color: white;
	width: 150px;
	height: auto;
	--webkit-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
#footer-contenedor	
{
	background: rgba(10,10,10,.9);
	color: white;
}
footer p
{
	font-size: 0.7em;
	text-align: center;
}
.logo 
{
	float: left;
	height: 10px;
	width: 30%;
}
.wrapper
{
	width: 100%;
	max-width: 1100px;
	margin: auto;
}

/*************MEDIA QUERY***860*****/
@media screen and (max-width: 860px) {
	header nav {
    	padding-top: 115px;
    	text-align: center;
    	width: 100%;
    	line-height:15px; 
  	}
  	.logo {
  		text-align: center;
  	}
  	.cabecera{
  		height: 33%;
  	}

 }
  	
